<h2>プロフィール</h2>

<%= form_with(model: @user, url: profile_settings_user_path(@user), method: :patch) do |form| %>

  <div>
    <%= form.label :avatar, "アイコン画像：" %>
    <%= form.file_field :avatar %>
  </div>

  <div>
    <%= form.label :name, "名前：" %>
    <%= form.text_field :name, placeholder: "新しい名前を入力" %>
  </div>

  <div>
    <%= form.label :introduction, "自己紹介" %><br>
    <%= form.text_area :introduction, cols: 30, rows: 3, placeholder: "入力" %>
  </div>

  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>

