<h1>予約の確認</h1>
<p><strong>施設名:</strong> <%= @room.name %></p>
<p><strong>詳細:</strong> <%= @room.description %></p>
<p><strong>料金:</strong> <%= number_to_currency(@room.price) %></p>
<p><strong>住所:</strong> <%= @room.address %></p>
<%= image_tag(@room.image, width: "100", height: "60") if @room.image.attached? %>
<%= link_to '編集', edit_room_path(@room), class: 'button' %>
<%= link_to '戻る', new_room_path, class: 'button' %>

<%= form_with model: @reservation, url: confirm_room_reservation_path(@room), local: true do |form| %>
  <div class="field">
    <%= form.label :check_in, "チェックイン" %>
    <%= form.date_field :check_in %>
  </div>

  <div class="field">
    <%= form.label :check_out, "チェックアウト" %>
    <%= form.date_field :check_out %>
  </div>
  <div class="field">
    <%= form.label :number_of_guests, "人数" %>
    <%= form.number_field :number_of_guests %>
  </div>
  <%= form.submit 'この内容で予約する', class: 'button' %>
<% end %>
