<!DOCTYPE html>
<html>
  <head>
    <title>Stay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  <header>
    <h1><%= link_to '宿泊予約アプリ', root_path %></h1>
<% if current_user %>
  <div class="user-info">
    <p><%= current_user.name %></p>
    <% unless request.fullpath == account_settings_user_path(current_user) %><%# アカウント設定の場合は画像表示しない設定 %>
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar.variant(resize: "50x50") %>
      <% else %>
        <%= image_tag "default_avatar.png", size: "50x50" %>
      <% end %> 
    <% end %>
    <%= link_to 'ログアウト', logout_path, method: :delete %>
  </div>
<% else %>
  <p><%= link_to 'ログイン', login_path %></p>
  <p><%= link_to '新規登録', new_user_path %></p>
<% end %>


    <%# rooms/new %>
    <p><%= link_to '施設の新規登録', new_room_path %></p> 
  
    <p>予約済み一覧</p>
    <%# rooms/index %>
    <p><%= link_to '登録済み一覧', rooms_path %></p>

    <% if current_user %>
      <p><%= link_to 'アカウント設定', account_settings_user_path(current_user) %></p>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %> 


  </header>
  </body>
  <%= javascript_include_tag 'rails-ujs' %>

</html>
