<!DOCTYPE html>
<html>
  <head>
    <title>Stay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <header>
      <h1>宿泊予約アプリ</h1>
      <p>ログイン</p>
      <p>新規登録</p>
    </header>
  </body>
</html>
